//========--------Pictos etude SVG

@font-face {
    font-family: 'etude-svg';
    src: url('../../../fonts/etude-svg.eot');
    src: url('../../../fonts/etude-svg?#iefix') format('eot'),
    url('../../../fonts/etude-svg.woff') format('woff'),
    url('../../../fonts/etude-svg.ttf') format('truetype'),
    url('../../../fonts/etude-svg.svg#etude-svg') format('svg');
    font-style: normal;
    font-weight: normal;
}
