@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800,400italic);

/*===========-------variables--------==========*/
$red: #e42518;
$blue: #00f;
$green: #37ff7e;

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue) + px;
  font-size: $sizeValue / 10 + rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.etude {
  padding: 0 20px;
  &:after {
    content: '';
    display: block;
    width: 50%;
    border-bottom: 1px solid grey;
    margin: 80px auto;
  }
}

.mainTitle {
  @include font-size(55);
  text-align: center;
}

.secondaryTitle {
  @include font-size(40);
  color: #07a5e0;
  font-weight: normal;
}

.smallTitle {
  @include font-size(22);
  color: #5e5e5e;
  margin: 40px 0 20px;
}

.smallestTitle {
  @include font-size(18);
  color: #5e5e5e;
  padding-left: 40px;
  margin: 0;
}

p {
  @include font-size(14);
}

.svgVisualExemples {
  margin-bottom: 30px;
  resize: both;
  width: 50%;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent #07a5e0 transparent;
  }
}

.svgVisualExemples--background {
  background: url("../../../img/bike.svg") no-repeat top center;
  height: 240px;
}

.svgVisualExemples--mediaqueries {
  width: 10%;
}

.svgExemple_wrapper {
  text-align: center;
  display: table-cell;
  vertical-align: bottom;
}

.svgExemple {
  width: 100%;
}


code {
  @include font-size(18);
  background-color: #1B2038;
  color: white;
  border: 1px solid grey;
  padding: 0 5px;
  white-space: nowrap;
}

code.codeBlock {
  display: block;
  padding: 10px;
  margin: 10px;
  white-space: normal;
}

.codeBlockElement {
  display: block;
  margin-bottom: 10px;
}

.codeExergue {
  color: $red;
  font-weight: bold;
  background-color: transparent;
}

.codeExergue.codeExergue--alt {
  color: $green;
}

.codeExergue.codeExergue--blue {
  color: $blue;
}


//tabulations in <code>
$maxLen: 8;
.codeBlockElement.codeBlockElement--tab {
  @for $i from 1 through $maxLen {
    &#{$i} {
      padding-left: 40px * $i
    }
  }
}




/*===========-------modifyers pour exemples--------==========*/
.svgExemple.svgExemple--big {
  width: 172px;
  height: 119px;
}

.svgExemple.svgExemple--border {
  border: 1px solid red;
}



/*===========-------states--------==========*/
._is_resizable {
  resize: both;
  overflow: auto;
}

._is_responsive {
  width: 100%;
  min-height: 100%;
}



/*===========-------Support Browsers--------==========*/
table.support {
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
}

table.support .col-5 {
  width: 20%;
}

table.support .col-6 {
  width: 16.66667%;
}

table.support .col-7 {
  width: 14.28571%;
}

table.support .col-8 {
  width: 12.5%;
}

table.support td {
  box-sizing: border-box;
  max-height: 1em;
  border-left: 2px solid white;
  border-right: 2px solid white;
  padding: 0.25em 0.5em;
  text-align: center;
  vertical-align: middle;
}

table.support tr:first-child td {
  padding-top: 0.4em;
}

table.support tr:first-child td:nth-child(2n + 1) {
  background-color: #eee;
}

table.support .support {
  background-color: #8fa971;
}

table.support .partial-support {
  background-color: #e8c373;
}

table.support .no-support {
  background-color: #d87363;
}


/*======Exemple de menu=======*/
.menuSvg {
  margin: 0;
  padding: 0;
  display: block;
}

.menuSvg_item {
  list-style: none;
  font-size: 3vw;
  display: table;
  width: 100%;
  &:before {
    content: '';
    display: table-cell;
    width: 5%;
    background-image: url(../../../img/sprites/view/pictos_digiposte.svg#dgp_icon_pdf);
    background-repeat: no-repeat;
  }
}

.menuSvg_item.menuSvg_item--2:before {
  background-image: url(../../../img/sprites/view/pictos_digiposte.svg#dgp_icon_premium);
}

.menuSvg_item.menuSvg_item--3:before {
  background-image: url(../../../img/sprites/view/pictos_digiposte.svg#dgp_icon_visualiser);
}

.menuSvg_item.menuSvg_item--4:before {
  background-image: url(../../../img/sprites/view/pictos_digiposte.svg#dgp_icon_home);
}

#premium {
  transform-origin: 50% 50%;
}


/*======Listes=======*/
dl {
  margin: 0;
}

dt {
  @include font-size(14);
  font-weight: bold;
  color: #51585A;
}

dd {
  @include font-size(12);
  padding-left: 10px;
  margin: 0 0 15px 0;
}