.svg-dgp_icon_Mes_partage {
	background: url(pictos_digiposte.svg) 19.90612089492019% 0 no-repeat;
}

.svg-dgp_icon_Mes_partage-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_add_doc {
	background: url(pictos_digiposte.svg) 79.62448357968076% 39.82260358167224% no-repeat;
}

.svg-dgp_icon_add_doc-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_add_dossier {
	background: url(pictos_digiposte.svg) 0 19.91130179083612% no-repeat;
}

.svg-dgp_icon_add_dossier-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_add_fournisseur {
	background: url(pictos_digiposte.svg) 19.90612089492019% 19.91130179083612% no-repeat;
}

.svg-dgp_icon_add_fournisseur-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_coffre {
	background: url(pictos_digiposte.svg) 39.81224178984038% 0 no-repeat;
}

.svg-dgp_icon_coffre-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_connexion {
	background: url(pictos_digiposte.svg) 39.81224178984038% 19.91130179083612% no-repeat;
}

.svg-dgp_icon_connexion-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_demache {
	background: url(pictos_digiposte.svg) 0 39.82260358167224% no-repeat;
}

.svg-dgp_icon_demache-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_deplacer {
	background: url(pictos_digiposte.svg) 19.90612089492019% 39.82260358167224% no-repeat;
}

.svg-dgp_icon_deplacer-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_doc_nonlus {
	background: url(pictos_digiposte.svg) 39.81224178984038% 39.82260358167224% no-repeat;
}

.svg-dgp_icon_doc_nonlus-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_dossier {
	background: url(pictos_digiposte.svg) 59.71836268476057% 0 no-repeat;
}

.svg-dgp_icon_dossier-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_dossier_open {
	background: url(pictos_digiposte.svg) 59.71836268476057% 19.91130179083612% no-repeat;
}

.svg-dgp_icon_dossier_open-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_enregistrer {
	background: url(pictos_digiposte.svg) 59.71836268476057% 39.82260358167224% no-repeat;
}

.svg-dgp_icon_enregistrer-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_favoris {
	background: url(pictos_digiposte.svg) 0 59.73390537250836% no-repeat;
}

.svg-dgp_icon_favoris-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_favoris_vide {
	background: url(pictos_digiposte.svg) 19.90612089492019% 59.73390537250836% no-repeat;
}

.svg-dgp_icon_favoris_vide-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_flashcode {
	background: url(pictos_digiposte.svg) 39.81224178984038% 59.73390537250836% no-repeat;
}

.svg-dgp_icon_flashcode-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_fournisseurs {
	background: url(pictos_digiposte.svg) 59.71836268476057% 59.73390537250836% no-repeat;
}

.svg-dgp_icon_fournisseurs-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_home {
	background: url(pictos_digiposte.svg) 79.62448357968076% 0 no-repeat;
}

.svg-dgp_icon_home-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_img {
	background: url(pictos_digiposte.svg) 79.62448357968076% 19.91130179083612% no-repeat;
}

.svg-dgp_icon_img-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_img_plein {
	background: url(pictos_digiposte.svg) 0 0 no-repeat;
}

.svg-dgp_icon_img_plein-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_impression {
	background: url(pictos_digiposte.svg) 79.62448357968076% 59.73390537250836% no-repeat;
}

.svg-dgp_icon_impression-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_info {
	background: url(pictos_digiposte.svg) 0 79.64520716334448% no-repeat;
}

.svg-dgp_icon_info-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_liste {
	background: url(pictos_digiposte.svg) 19.90612089492019% 79.64520716334448% no-repeat;
}

.svg-dgp_icon_liste-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_mozaique {
	background: url(pictos_digiposte.svg) 39.81224178984038% 79.64520716334448% no-repeat;
}

.svg-dgp_icon_mozaique-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_none {
	background: url(pictos_digiposte.svg) 59.71836268476057% 79.64520716334448% no-repeat;
}

.svg-dgp_icon_none-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_partager {
	background: url(pictos_digiposte.svg) 79.62448357968076% 79.64520716334448% no-repeat;
}

.svg-dgp_icon_partager-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_pdf {
	background: url(pictos_digiposte.svg) 99.53060447460092% 0 no-repeat;
}

.svg-dgp_icon_pdf-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_premium {
	background: url(pictos_digiposte.svg) 99.53060447460092% 19.91130179083612% no-repeat;
}

.svg-dgp_icon_premium-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_renommer {
	background: url(pictos_digiposte.svg) 99.53060447460092% 39.82260358167224% no-repeat;
}

.svg-dgp_icon_renommer-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_save {
	background: url(pictos_digiposte.svg) 99.53060447460092% 59.73390537250836% no-repeat;
}

.svg-dgp_icon_save-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_supprimer {
	background: url(pictos_digiposte.svg) 99.53060447460092% 79.64520716334448% no-repeat;
}

.svg-dgp_icon_supprimer-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_tcheck_box {
	background: url(pictos_digiposte.svg) 0 99.5565089541806% no-repeat;
}

.svg-dgp_icon_tcheck_box-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_trash {
	background: url(pictos_digiposte.svg) 19.90612089492019% 99.5565089541806% no-repeat;
}

.svg-dgp_icon_trash-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_visualiser {
	background: url(pictos_digiposte.svg) 39.81224178984038% 99.5565089541806% no-repeat;
}

.svg-dgp_icon_visualiser-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_word {
	background: url(pictos_digiposte.svg) 59.71836268476057% 99.5565089541806% no-repeat;
}

.svg-dgp_icon_word-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_xls {
	background: url(pictos_digiposte.svg) 79.62448357968076% 99.5565089541806% no-repeat;
}

.svg-dgp_icon_xls-dims {
	width: 35.029px;
	height: 33.044px;
}

.svg-dgp_icon_zip {
	background: url(pictos_digiposte.svg) 99.53060447460092% 99.5565089541806% no-repeat;
}

.svg-dgp_icon_zip-dims {
	width: 35.029px;
	height: 33.044px;
}

